//- Global Settings.
//------------------------------------------------------------------------------

//- HTML Language attribute.
- var lang = "en";

//- Website title, used for <title> tag and <meta> application name.
- var website_title = "Static Starter-Kit";

//- Meta tags.
- var meta_description = "";
- var meta_keywords = "";
- var meta_author = "Luca Pipolo - dev@lucapipolo.com";
- var og_description = "";
- var og_image = "";

//- MS tile Color.
- var ms_tile_color= "#FFF";

//- Google Analytics ID.
- var ga_id = "UA-XXXXXXXX-XX";

//- CSS files.
-
  var css_files = [
    "libs",
    "main",
  ];

//-JS files.
-
  var js_files = [
    "libs",
    "main",
  ];
